<h3 id="patient">{{include.content2}}</h3>

<p>Return the patients historic instances for a given logical ID</p>

<div markdown="span" class="alert alert-success" role="alert">
GET {{include.base}}{{include.resource}}/[ID]/_history</div>

<p>See <a href="https://www.hl7.org/fhir/searchparameter-registry.html">reference</a> for details on this parameter.</p>

<div class="language-http highlighter-rouge">
<pre class="highlight"><code><span class="err">GET {{include.base}}{{include.resource}}/783ffeef-538e-4a17-bed2-983a382ccdd7/_history
</span></code>
Return all historic {{include.resource}} instances for a patient with a logical id of {{include.id}}.</pre>
</div>

<div markdown="span" class="alert alert-success" role="alert">
GET {{include.base}}{{include.resource}}?[patient]&[purpose]</div>

<div class="language-http highlighter-rouge">
<pre class="highlight"><code><span class="err">GET {{include.base}}{{include.resource}}?patient=https://nww.spine.nhs.uk/4505577104&purpose="HRESCH"/_history
</span></code>
Return all historic {{include.resource}} instances for a patient with NHS number of {{include.text1}} and a purpose of {{include.text2}}.</pre>
</div>