<h3 id="patient">{{include.content2}}</h3>

<p>Update the patients opt-out paramenters for instance with a logical id of 133552f9-7aaf-485f-a91a-bdfc0a367409</p>

<div markdown="span" class="alert alert-success" role="alert">
PUT {{include.base}}{{include.resource}}/[id]</div>

<p>See <a href="https://www.hl7.org/fhir/searchparameter-registry.html">reference</a> for details on this parameter.</p>



<div class="language-http highlighter-rouge">
<pre class="highlight"><code><span class="err">PUT {{include.base}}{{include.resource}}/133552f9-7aaf-485f-a91a-bdfc0a367409
</span></code>
Updates {{include.resource}} resource that has a logical id of {{include.id}}.</pre>
</div>
